<%= form_with(model: ad, class: "contents") do |form| %>
  <% if ad.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
        <% ad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, class: "rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>

  <div class="my-5">
    <%= form.label :ad_type %>
    <%= select_tag 'ad[ad_type]', options_for_select([ "Imagen", "Video" ], ad.ad_type), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "Archivo" %>
    <%= form.file_field :file, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <% if ad.file.present? %>
      <% if ad.ad_type == 'Imagen' &&  %>
        <%= image_tag ad.file, class: 'max-w-md w-full'  %> 
      <% else %>
        <%= video_tag url_for(ad.file), controls: '', class: 'max-w-md w-full'  %> 
      <% end %>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
