<div id="<%= dom_id participant %>" class="grid grid-cols- 2 md:grid-cols-3 border-b border-b-gray-200">
    <div class="px-6 py-4 whitespace-nowrap">
      <div class="flex items-center">
        <div class="flex-shrink-0 h-10 w-10">
          <% if participant.player.picture.present? %>
              <%= image_tag participant.player.picture, class: 'h-10 w-10 rounded-full' %>
          <% else %>
              <%= image_tag image_path('default-player.png'), class: 'h-10 w-10 rounded-full' %>
          <% end %>
        </div>
        <div class="ml-4">
          <div class="text-sm font-medium text-gray-900"><%= participant.player.name %></div>
        </div>
      </div>
    </div>
    <div class="px-6 py-4 whitespace-nowrap">
      <div class="text-sm text-gray-900 font-bold">Ranking: <%= participant.ranking %></div>
    </div>
    <div class="px-6 py-4 whitespace-nowrap">
      <div class="text-sm text-gray-900">Points: <%= participant.points %></div>
    </div>
  </div>