<div id="<%= dom_id tour %>" class="border border-gray-100 shadow-lg mx-2 p-2 rounded-md h-full">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= tour.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inicio:</strong>
    <%= tour.start %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fin:</strong>
    <%= tour.end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Ver torneo", tour, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Editar tornedo', edit_tour_path(tour), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    
  <% end %>
</div>
